<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
		<dict>
		<key>angel.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>O:-)</string>
				<string>O:)</string>
			</array>
			<key>Name</key>
			<string>Angel</string>
		</dict>
		<key>angry.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:o</string>
				<string>:-@</string>
			</array>
			<key>Name</key>
			<string>Angry</string>
		</dict>
		<key>bomb.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>@=</string>
			</array>
			<key>Name</key>
			<string>Bomb</string>
		</dict>
		<key>confused.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-$</string>
				<string>:$</string>
			</array>
			<key>Name</key>
			<string>Confused</string>
		</dict>
		<key>cool.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-)</string>
				<string>8)</string>
				<string>B-)</string>
				<string>B)</string>
			</array>
			<key>Name</key>
			<string>Cool</string>
		</dict>
		<key>crying.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:'-(</string>
            	<string>:'(</string>
            </array>
			<key>Name</key>
			<string>Crying</string>
		</dict>
		<key>devil.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>]:-&gt;</string>
				<string>]:&gt;</string>
				<string>&gt;:)</string>
				<string>&gt;:-)</string>
			</array>
			<key>Name</key>
			<string>Devil</string>
		</dict>
		<key>drink.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>*DRINK*</string>
			</array>
			<key>Name</key>
			<string>Drink</string>
		</dict>
		<key>embarrassed.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-[</string>
			</array>
			<key>Name</key>
			<string>Embarassed</string>
		</dict>
		<key>happy.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-)</string>
				<string>:)</string>
				<string>=)</string>
			</array>
			<key>Name</key>
			<string>Happy</string>
		</dict>
		<key>headphone.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>[:-}</string>
				<string>[:-)</string>
				<string>[:}</string>
				<string>[:)</string>
			</array>
			<key>Name</key>
			<string>Headphone</string>
		</dict>
		<key>inlove.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>*IN LOVE*</string>
			</array>
			<key>Name</key>
			<string>In Love</string>
		</dict>
		<key>jokingly.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>*JOKINGLY*</string>
			</array>
			<key>Name</key>
			<string>Joking</string>
		</dict>
		<key>kiss.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-{}</string>
				<string>:{}</string>
			</array>
			<key>Name</key>
			<string>Kiss</string>
		</dict>
		<key>kissed.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>*KISSED*</string>
			</array>
			<key>Name</key>
			<string>Kissed</string>
		</dict>
		<key>kissing.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>*KISSING*</string>
				<string>:**:</string>
			</array>
			<key>Name</key>
			<string>Two Kissing</string>
		</dict>
		<key>laughing.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-D</string>
				<string>:D</string>
				<string>:))</string>
				<string>:-))</string>
			</array>
			<key>Name</key>
			<string>Laughing</string>
		</dict>
		<key>pensive.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-\</string>
				<string>:\</string>
				<string>:/</string>
				<string>:-/</string>
			</array>
			<key>Name</key>
			<string>Pensive</string>
		</dict>
		<key>rose.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>@}-&gt;--</string>
				<string>@&gt;-&gt;--</string>
				<string>@&gt;-&gt;-</string>
				<string>@}-&gt;-</string>
			</array>
			<key>Name</key>
			<string>Red Rose</string>
		</dict>
		<key>sad.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-(</string>
				<string>:(</string>
			</array>
			<key>Name</key>
			<string>Sad</string>
		</dict>
		<key>shocked.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=-o</string>
            	<string>=-O</string>
            </array>
			<key>Name</key>
			<string>Shocked</string>
		</dict>
		<key>sick.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-!</string>
				<string>:!</string>
			</array>
			<key>Name</key>
			<string>Sick</string>
		</dict>
		<key>silent.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-X</string>
				<string>:X</string>
			</array>
			<key>Name</key>
			<string>Silent</string>
		</dict>
		<key>stop.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>*STOP*</string>
			</array>
			<key>Name</key>
			<string>Stop and talk to the hand</string>
		</dict>
		<key>thumbsup.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>*THUMBS UP*</string>
			</array>
			<key>Name</key>
			<string>Thumbs Up</string>
		</dict>
		<key>tongueout.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-P</string>
				<string>:P</string>
			</array>
			<key>Name</key>
			<string>Tongue sticking out</string>
		</dict>
		<key>wink.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-)</string>
				<string>;)</string>
			</array>
			<key>Name</key>
			<string>Winking</string>
		</dict>
		<key>yawning.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>*TIRED*</string>
			</array>
			<key>Name</key>
			<string>Yawning</string>
		</dict>
	</dict>
</plist>
